VITE_FIREBASE_API_KEY=AIzaSyD9HRb_wSqGDftFfRRvqtB8EMc4dPuph1E
VITE_FIREBASE_AUTH_DOMAIN=rakshika-app-8f63b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rakshika-app-8f63b
VITE_FIREBASE_STORAGE_BUCKET=rakshika-app-8f63b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=775073867865
VITE_FIREBASE_APP_ID=1:775073867865:web:fdf8463110a7b288832948